$primary-color: lightblue;
$secondary-color: #d32626;
$text-primary: #000000;
$text-secondary: #fdfdfd;
$font-small: 10px;
$font-medium: 16px;
$font-large: 20px;
$font-weight: ("regular": 400, "medium": 600, "bold": 800);
$bg-color: #000000;