@media all and (max-width:790px) {
  .SignupSection {

    .SignupTag {
      h2 {
        margin: 50px 35%;
      }

      h5 {
        margin: 50px 20%;
      }
    }

    .Signup-form {
      margin: 20px 20%;
    }
  }
}